<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static "login_interface.css"%}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

</head>
<body>
    <div class="register">
        {% csrf_token %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Register to Website</h1>
            <div class="login">
            </div>
            {% for field in form %}
                <div class="input_data">
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
        <div class="btn_container">
            <button class="back_register" type="submit">Register</button>
        <button class="back_btn" type="submit">
            <a href="{% url 'projects_list'%}">Back</a>
        </button>
        </div>
        </form>
    </div>
</body>
</html>
